# ignore venv & pycache
/venv/
/__pycache__/
*.pyc

# Don't upload databases
*.db

# Don't upload logs
*.json

# ignore any files with secret in the name
*secret*

# allow example secrets
!secret.example.py

# IDE files
.idea/

# Windows Stuff
.DS_Store