<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example UI</title>
    <style>
        div {
            margin: 1px;
            padding: 4px;
        }
        .container {
            display: flex;
        }
        .left {
            background-color: wheat;
        }
        .right {
            margin-left: auto;
        }
        .outer {
            background-color: pink;
        }
        .middle {
            background-color: lightskyblue;
        }
        .inner {
            background-color: aquamarine;
        }
        .sink {
            align-self: flex-end;
        }
        select {
            overflow-y: auto;
            min-width: 50%;
        }
        .managed {
            background-color: blueviolet;
        }
        .warning {
            background-color: red;
        }
    </style>
</head>
<body style="background-color:darkslategray">
    <div class="container">
        <div class="left">
            <label for="servers">Current Server Outline</label><br />
            <select id="servers" name="serverOutline" size="20">
                <option value="">Events</option>
                <option value="">Browse Channels</option>
                <option value="">Members</option>
                <hr />
                <option value="">Rules</option>
                <option value="">moderator-only</option>
                <optgroup label="Text Channels">
                    <option value="">General</option>
                    <option value="">bot-testing</option>
                    <option value="">forum-test</option>
                    <option value="">poc-chat</option>
                    <option value="">developer-chat</option>
                </optgroup>
                <optgroup label="Voice Channels">
                    <option value="">General</option>
                </optgroup>
                <optgroup label="Example managed" class="managed">
                    <option value="">managed general</option>
                </optgroup>
            </select>
        </div>
        <div class="outer">
            <div class="middle container">
                <div class="inner">
                    <label for="classTemplate">Templates per class<br />
                        <small>(Categories will be inserted at the bottom of the current hierarchy)</small></label><br />
                    <select id="classTemplate" size="10">
                        <option value="Announcements">Announcements</option>
                        <option value="qa-forum" >qa-forum</option>
                        <option value="general">general</option>
                        <option value="assignment-discussion">assignment-discussion</option>
                        <option value="ta-chat">ta-chat</option>
                    </select> <br />
                    <button onclick="insertNewChannel();">Add Channel</button>
                </div>
                <div class="inner">
                    <label for="channelName">Channel Name</label><br />
                    <input type="text" id="channelName"><br />
                    <fieldset>
                        <legend>Channel Type</legend>
                        <input type="radio" id="announcement" name="channelType" value="A">
                        <label for="announcement">Announcements</label><br />
                        <input type="radio" id="textChannel" name="channelType" value="T" checked>
                        <label for="textChannel">Text</label><br />
                        <input type="radio" id="voiceChannel" name="channelType" value="V">
                        <label for="voiceChannel">Voice</label><br />
                        <input type="radio" id="forum" name="channelType" value="F">
                        <label for="forum">Forum</label><br />
                    </fieldset><br />
                    <input type="checkbox" id="TAChannelAccess">
                    <label for="TAChannelAccess">TA Only Channel (Announcement channels will be made TA-Writable)</label><br />
                    <input type="checkbox" id="studentOnly">
                    <label for="studentOnly">Make this channel accessible only to students currently in the class</label><br />
                    <div class="container middle">
                        <button>commit configuration</button>
                        <button class="right">remove channel</button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="middle container sink">
                <div class="inner">
                    <label for="classes">Semester Classes</label><br />
                    <select id="classes" name="classes" size="5">
                        <option value="447">447</option>
                        <option value="449">449</option>
                    </select><br />
                    <button onclick="insertNewCourse();">Add Course</button>
                </div>
                <div class="inner">
                    <label for="className">Class Name</label><br />
                    <input type="text" id="className"><br />
                    <label for="classCanvasID">Canvas ID</label><br />
                    <input type="text" id="classCanvasID"><br />
                    <button>Commit configuration</button><br />
                    <button>Remove Course</button>
                </div>
                <div class="inner">
                    <label for="recitations">Class Recitation Sections</label><br />
                    <select id="recitations" name="recitations" size="5">
                        <option value="10am">10am</option>
                        <option value="12pm">12pm</option>
                    </select><br />
                    <button onclick="insertNewRecitation();">Add Recitation Section</button>
                    <button>Remove Recitation</button><br />
                    <label for="recitationTime">Recitation Time</label>
                    <input type="text" id="recitationTime"><br />
                    <button>Commit Recitation Time</button>
                </div>
                <div class="inner">
                    <button>Preview Changes in Left Panel</button><br /><br />
                    <button>Commit Semester Options</button>
                </div>
                <div class="inner">
                    <button class="warning">Semester Cleanup</button><br />
                    <p>Warning! This will ERASE all <span class="managed">managed</span> categories, and migrate current students and TAs to former-student roles. Logs for each channel will be downloaded.</p>
                </div>
            </div>
        </div>
    </div>
<script>
    classTemplate.onchange = function setInputValueCh () {
        var input = document.getElementById('channelName');
        channelName.value = this.value;

        if (channelName.value === "Announcements") {
            document.getElementById('announcement').checked = true;
            document.getElementById('TAChannelAccess').checked = true;
            document.getElementById('studentOnly').checked = true;
        }
        
        if (channelName.value === "qa-forum") {
            document.getElementById('forum').checked = true;
            document.getElementById('TAChannelAccess').checked = false;
            document.getElementById('studentOnly').checked = false;
        }

        if (channelName.value === "general") {
            document.getElementById('textChannel').checked = true;
            document.getElementById('TAChannelAccess').checked = false;
            document.getElementById('studentOnly').checked = false;
        }

        if (channelName.value === "assignment-discussion") {
            document.getElementById('voiceChannel').checked = true;
            document.getElementById('TAChannelAccess').checked = false;
            document.getElementById('studentOnly').checked = true;
        }

        if (channelName.value === "ta-chat") {
            document.getElementById('textChannel').checked = true;
            document.getElementById('TAChannelAccess').checked = true;
            document.getElementById('studentOnly').checked = false;
        }

    }

    recitations.onchange = function setInputValueR () {
        var input = document.getElementById('recitationTime');
        recitationTime.value = this.value;
    }

    classes.onchange = function setInputValueCl () {
        var input = document.getElementById('className');
        className.value = this.value;
    }

    function insertNewChannel () {
        var select = document.getElementById("classTemplate"),
            newOption = document.createElement("OPTION"),
            newOptionVal = document.createTextNode("new-channel");

        newOption.appendChild(newOptionVal);
        select.insertBefore(newOption,select.lastChild);
    }

    function insertNewRecitation () {
        var select = document.getElementById("recitations"),
            newOption = document.createElement("OPTION"),
            newOptionVal = document.createTextNode("new-recitation");

        newOption.appendChild(newOptionVal);
        select.insertBefore(newOption,select.lastChild);
    }

    function insertNewCourse () {
        var select = document.getElementById("classes"),
            newOption = document.createElement("OPTION"),
            newOptionVal = document.createTextNode("new-course");

        newOption.appendChild(newOptionVal);
        select.insertBefore(newOption,select.lastChild);
    }

    const Config = {
        template: [
            // types seem to need to line up with the id of the particular radio button - I want it to match up to the value,
            // but I don't think there's a document.getElementByValue function
            {name: "Announcements", type: "announcement", TAonly: true, StudOnly: true},
            {name: "qa-forum", type: "forum", TAonly: false, StudOnly: false},
            {name: "general", type: "textChannel", TAonly: false, StudOnly: false},
            {name: "assignment-discussion", type: "voiceChannel", TAonly: false, StudOnly: true},
            {name: "ta-chat", type: "textChannel", TAonly: true, StudOnly: true},
        ],
        classes: [
            {name:"447", canvasId: "123", recitations: ["10am", "12pm"]},
            {name: "449", canvasId: "456", recitations: ["10am", "12pm"]}
        ]
    }


    // function insertValue () {
    //     var select = document.getElementById("classTemplate"),
    //         txtVal = document.getElementById("channelName").value,
    //         newOption = document.createElement("OPTION"),
    //         newOptionVal = document.createTextNode(txtVal);

    //     newOption.appendChild(newOptionVal);
    //     select.insertBefore(newOption,select.lastChild);
    // }
    
</script>
</body>
</html>