<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example UI</title>
    <style>
        div {
            margin: 1px;
            padding: 4px;
        }
        .container {
            display: flex;
        }
        .left {
            background-color: wheat;
        }
        .right {
            margin-left: auto;
        }
        .outer {
            background-color: pink;
        }
        .middle {
            background-color: lightskyblue;
        }
        .inner {
            background-color: aquamarine;
        }
        .sink {
            align-self: flex-end;
        }
        select {
            overflow-y: auto;
            min-width: 50%;
        }
        .managed {
            background-color: blueviolet;
        }
        .warning {
            background-color: red;
        }
    </style>
    <script>
        let active_class
        let active_rec_id

        let classes = [
            {
                name: "447",
                canvasId: "123",
                recitations: ["10a", "12p"]
            },
            {
                name: "449",
                canvasId: "456",
                recitations: ["11a", "1p"]
            },

        ]

        function get_selected_child(element) {
            for(let child of element.children) {
                if(child.selected) {
                    return child
                }
            }
        }

        function change_class() {
            const classes_elem = document.getElementById('classes')
            const selected = get_selected_child(classes_elem)

            let active_class_index
            for(let i = 0; i < classes_elem.children.length; i++) {
                if(classes_elem.children.item(i) === selected) {
                    active_class_index = i
                    break
                }
            }
            active_class = classes[active_class_index]

            let name_elem = document.getElementById('className')
            let recitations_elem = document.getElementById('recitations')
            let canvas_id_elem = document.getElementById('classCanvasID')

            name_elem.value = active_class.name
            canvas_id_elem.value = active_class.canvasId

            for(let i = recitations_elem.childElementCount; i > 0; i--) {
                recitations_elem.removeChild(recitations_elem.firstElementChild)
            }

            for(let rec of active_class.recitations) {
                add_rec_to_display(rec)
            }
            change_recitation()
        }

        function change_recitation() {
            let recitations_elem = document.getElementById('recitations')
            let recitation_time_elem = document.getElementById('recitationTime')
            let selected = get_selected_child(recitations_elem)

            if(selected) {
                active_rec_id = active_class.recitations.indexOf(selected.innerText)
                recitation_time_elem.value = recitations_elem.value
            } else {
                active_rec_id = undefined
                recitation_time_elem.value = ""
            }
        }

        function remove_recitation() {
            if(active_rec_id === undefined) {
                return
            }
            const recitations_elem = document.getElementById('recitations')
            const selected = get_selected_child(recitations_elem)
            recitations_elem.removeChild(selected)

            active_class.recitations = active_class.recitations.filter((x) => active_class.recitations.indexOf(x) !== active_rec_id)

            if(recitations_elem.firstElementChild) {
                recitations_elem.firstElementChild.selected = true
                change_recitation()
            } else {
                document.getElementById('recitationTime').value = ""
            }
        }

        function add_new_course() {
            const new_course = {
                name: "new course",
                canvasId: "0",
                recitations: []
            }
            classes.push(new_course)
            add_course_to_display(new_course)
        }

        function add_new_recitation() {
            if(!active_class) {
                return
            }
            const new_rec = "new Rec"
            active_class.recitations.push(new_rec)
            add_rec_to_display(new_rec)
        }

        function add_course_to_display(new_class) {
            const classes_elem = document.getElementById("classes")
            const class_elem = document.createElement('option')
            class_elem.innerText = new_class.name
            classes_elem.appendChild(class_elem)
            class_elem.selected = true
            change_class()
        }

        function add_rec_to_display(rec) {
            const recitations_elem = document.getElementById('recitations')
            const rec_elem = document.createElement('option')
            rec_elem.innerText = rec
            recitations_elem.appendChild(rec_elem)
            rec_elem.selected = true
            change_recitation()
        }

        function remove_course () {
            if(!active_class) {
                alert("Please select a class to remove")
                return
            }
            if(classes.length === 1) {
                alert("Can't remove last class in the semester")
                return
            }
            classes = classes.filter((x) => x !== active_class)
            const classes_elem = document.getElementById('classes')
            const selected = get_selected_child(classes_elem)
            classes_elem.removeChild(selected)
            classes_elem.firstElementChild.selected = true
            change_class()
        }

        function update_course() {
            if(!active_class) {
                return
            }
            const class_name_elem = document.getElementById('className')
            const class_id_elem = document.getElementById('classCanvasID')
            const classes_elem = document.getElementById('classes')

            active_class.name = class_name_elem.value
            active_class.canvasId = class_id_elem.value

            const selected = get_selected_child(classes_elem)
            selected.innerText = class_name_elem.value
        }

        function update_rec() {
            if(active_rec_id === undefined) {
                return
            }
            const rec_time_elem = document.getElementById('recitationTime')
            const recs_elem = document.getElementById('recitations')

            active_class.recitations[active_rec_id] = rec_time_elem.value
            const selected = get_selected_child(recs_elem)
            selected.innerText = rec_time_elem.value
        }

        function send_config() {
            let config = {
                template: [],
                classes: classes
            }

            let headers = new Headers()
            headers.append('Content-type', 'application/json')

            let fetch_options = {
                headers: headers,
                method: "POST",
                body: JSON.stringify(config)
            }

            fetch("/config", fetch_options)
                .then((response) => {
                    return response.json()
                })
                .then((response) => {
                    // TODO: do something with this
                    console.log(response)
                })
                .catch((err) => {
                    console.log(err)
                })
        }

        function get_current_json() {
            fetch("/get_server_json")
                .then((response) => {
                    return response.json()
                })
                .then((response) => {
                    console.log(response)
                    fill_out_server_panel(response)
                })
        }

        function fill_out_server_panel(config) {
            let server_elem = document.getElementById('server')
            for(let entry of config) {
                if(entry.channels) {
                    const grp_elem = document.createElement('optgroup')
                    grp_elem.label = entry.name
                    for(let chan of entry.channels) {
                        const chan_elem = document.createElement('option')
                        chan_elem.innerText = chan.name
                        grp_elem.appendChild(chan_elem)
                    }
                    server_elem.appendChild(grp_elem)
                } else {
                    const chan_elem = document.createElement('option')
                    chan_elem.innerText = entry.name
                    server_elem.appendChild(chan_elem)
                }
            }
        }

        function onload() {
            for(let sem_class of classes) {
                add_course_to_display(sem_class)
            }

            document.getElementById("classes").addEventListener("change", change_class)

            document.getElementById('addClassBtn').addEventListener("click", add_new_course)
            document.getElementById('removeClassBtn').addEventListener("click", remove_course)

            document.getElementById('className').addEventListener('input', update_course)
            document.getElementById('classCanvasID').addEventListener('change', update_course)

            document.getElementById('recitations').addEventListener("change", change_recitation)

            document.getElementById('rmRecBtn').addEventListener('click', remove_recitation)
            document.getElementById('addRecBtn').addEventListener('click', add_new_recitation)

            document.getElementById('recitationTime').addEventListener('input', update_rec)

            document.getElementById('semCommitBtn').addEventListener('click', send_config)

            get_current_json()
        }

        addEventListener("DOMContentLoaded", onload)
    </script>
</head>
<body>
<form id="theForm">
    <div class="container">
        <div class="left">
            <label for="server">Current Server Outline</label><br />
            <select id="server" name="serverOutline" size="20">
            </select>
        </div>
        <div class="outer">
            <div class="middle container">
                <div class="inner">
                    <label for="classTemplate">Templates per class<br />
                        <small>(Categories will be inserted at the bottom of the current hierarchy)</small></label><br />
                    <select id="classTemplate" size="10">
                        <option>Announcements</option>
                        <option>qa-forum</option>
                        <option>general</option>
                        <option>assignment-discussion</option>
                        <option>ta-chat</option>
                    </select> <br />
                    <button type="button">Add Channel</button>
                </div>
                <div class="inner">
                    <label for="channelName">Channel Name</label><br />
                    <input type="text" id="channelName"><br />
                    <fieldset>
                        <legend>Channel Type</legend>
                        <input type="radio" id="announcement" name="channelType" value="A">
                        <label for="announcement">Announcements</label><br />
                        <input type="radio" id="textChannel" name="channelType" value="T" checked>
                        <label for="textChannel">Text</label><br />
                        <input type="radio" id="voiceChannel" name="channelType" value="V">
                        <label for="voiceChannel">Voice</label><br />
                        <input type="radio" id="forum" name="channelType" value="F">
                        <label for="forum">Forum</label><br />
                    </fieldset><br />
                    <input type="checkbox" id="TAChannelAccess">
                    <label for="TAChannelAccess">TA Only Channel (Announcement channels will be made TA-Writable)</label><br />
                    <input type="checkbox" id="studentOnly">
                    <label for="studentOnly">Make this channel accessible only to students currently in the class</label><br />
                    <div class="container middle">
                        <button type="button">commit configuration</button>
                        <button class="right" type="button">remove channel</button>
                    </div>
                </div>
            </div>
            <br/>
            <div class="middle container sink">
                <div class="inner">
                    <label for="classes">Semester Classes</label><br />
                    <select id="classes" name="classes" size="5">
                    </select><br />
                    <button type="button" id="addClassBtn">Add Course</button>
                </div>
                <div class="inner">
                    <label for="className">Class Name</label><br />
                    <input type="text" id="className"><br />
                    <label for="classCanvasID">Canvas ID</label><br />
                    <input type="text" id="classCanvasID"><br />
                    <button type="button" id="removeClassBtn">Remove Course</button>
                </div>
                <div class="inner">
                    <label for="recitations">Class Recitation Sections</label><br />
                    <select id="recitations" name="recitations" size="5">
                    </select><br />
                    <button type="button" id="addRecBtn">Add Recitation Section</button>
                    <button type="button" id="rmRecBtn">Remove Recitation</button><br />
                    <label for="recitationTime">Recitation Time</label>
                    <input type="text" id="recitationTime"><br />
                </div>
                <div class="inner">
                    <button type="button" id="previewBtn">Preview Changes in Left Panel</button><br /><br />
                    <button type="button" id="semCommitBtn">Commit Semester Options</button>
                </div>
                <div class="inner">
                    <button class="warning" type="button">Semester Cleanup</button><br />
                    <p>Warning! This will ERASE all <span class="managed">managed</span> categories, and migrate current students and TAs to former-student roles. Logs for each channel will be downloaded.</p>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>