<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example UI</title>
    <style>
        div {
            margin: 1px;
            padding: 4px;
        }
        .container {
            display: flex;
        }
        .left {
            background-color: wheat;
        }
        .right {
            margin-left: auto;
        }
        .outer {
            background-color: pink;
        }
        .middle {
            background-color: lightskyblue;
        }
        .inner {
            background-color: aquamarine;
        }
        .sink {
            align-self: flex-end;
        }
        select {
            overflow-y: auto;
            min-width: 50%;
        }
        .managed {
            background-color: blueviolet;
        }
        .warning {
            background-color: red;
        }
    </style>
    <script>
        // Default classes to display
        let classes = [
            {
                name: "447",
                canvasId: "123",
                recitations: ["10a", "12p"]
            },
            {
                name: "449",
                canvasId: "456",
                recitations: ["11a", "1p"]
            }
        ]

        let template = [
            {
                channelName: "Announcements",
                channelType: "A",
                studentOnly: true,
                taOnly: true
            },
            {
                channelName: "qa-forum",
                channelType: "F",
                studentOnly: true,
                taOnly: false
            },
            {
                channelName: "general",
                channelType: "T",
                studentOnly: true,
                taOnly: false
            },
            {
                channelName: "assignment-discussion",
                channelType: "V",
                studentOnly: true,
                taOnly: false
            },
            {
                channelName: "ta-chat",
                channelType: "T",
                studentOnly: true,
                taOnly: true
            }
        ]

        function get_selected_child_index(element) {
            for(let i = 0; i < element.children.length; i++) {
                if (element.children[i].selected) {
                    return i
                }
            }
        }

        function is_event(obj) {
            return Event.prototype.isPrototypeOf(obj)
        }

        function update_class_ui() {
            // Get selected class
            const classes_elem = document.getElementById('classes')
            const selected_child_index = get_selected_child_index(classes_elem)
            const selected_child = classes_elem.children.item(selected_child_index)

            // Get the text input elements
            const name_elem = document.getElementById('className')
            const canvas_id_elem = document.getElementById('classCanvasID')
            const recitation_time_elem = document.getElementById('recitationTime')

            // Set the text elements to what we want
            name_elem.value = selected_child.innerText
            canvas_id_elem.value = selected_child.dataset.canvasID
            recitation_time_elem.value = ""

            // Prepare to reset the recitations list
            const recitations_elem = document.getElementById('recitations')
            const recitations = JSON.parse(selected_child.dataset.recitations)

            // Empty recitations list
            for(let i = recitations_elem.childElementCount; i > 0; i--) {
                recitations_elem.removeChild(recitations_elem.firstElementChild)
            }

            // Re-fill recitations list (and select the first item if it exists) using data from selected class
            for(let rec of recitations) {
                add_new_recitation(rec)
            }
            if(recitations_elem.children.length) {
                recitations_elem.firstElementChild.selected = true
                update_recitation_ui()
            }
        }

        function update_recitation_ui() {
            const recitations_elem = document.getElementById('recitations')
            const recitation_time_elem = document.getElementById('recitationTime')

            // If we have no recitations return
            if(!recitations_elem.children.length) {
                recitation_time_elem.value = ""
                return
            }

            // Fill the text box
            const selected_child_index = get_selected_child_index(recitations_elem)
            const selected_child = recitations_elem.children.item(selected_child_index)
            recitation_time_elem.value = selected_child.innerText
        }

        function remove_recitation() {
            const recitations_elem = document.getElementById('recitations')
            const selected_index = get_selected_child_index(recitations_elem)
            const selected = recitations_elem.children.item(selected_index)

            // because we're storing data in the html element this is actually all we need to do
            recitations_elem.removeChild(selected)
            // it might conceivably be more efficient to only save the changed item (recitations) but i'm not worried
            update_course()

            // make sure the UI stays nice
            if(recitations_elem.firstElementChild) {
                recitations_elem.firstElementChild.selected = true
                update_recitation_ui()
            } else {
                document.getElementById('recitationTime').value = ""
            }
        }

        function add_new_course(new_course) {
            // if this is used as an event handler (it is) then the first argument that gets passed in is the event
            if(!new_course || is_event(new_course)) {
                new_course = {
                    name: "new course",
                    canvasId: "0",
                    recitations: []
                }
            }

            // create the new element and set ts data according to what was passed in
            const new_course_elem = document.createElement('option')
            new_course_elem.innerText = new_course.name
            new_course_elem.dataset.canvasID = new_course.canvasId
            new_course_elem.dataset.recitations = JSON.stringify(new_course.recitations)

            // add it to the UI and selected it (nice UI feature when you click the button)
            document.getElementById('classes').appendChild(new_course_elem)
            new_course_elem.selected = true
            update_class_ui()
        }

        function add_new_recitation(new_rec) {
            // same as above, prevents trying to parse an event as the argument
            if(!new_rec || is_event(new_rec)) {
                new_rec = "8am"
            }

            // create the element and set its data
            const new_rec_elem = document.createElement('option')
            new_rec_elem.innerText = new_rec

            // add the new recitation to the list
            const recs_elem = document.getElementById('recitations')
            recs_elem.appendChild(new_rec_elem)

            // Save the newly added recitation
            update_course()

            // UI niceties
            new_rec_elem.selected = true
            update_recitation_ui()
        }

        function remove_course () {
            const classes_elem = document.getElementById('classes')
            let selected_index = get_selected_child_index(classes_elem)
            const selected = classes_elem.children.item(selected_index)

            // Don't let the user remove all courses since I don't see a reason to allow that
            // Also means we don't have to handle the special case of not having anything in our options list
            if(classes_elem.children.length === 1) {
                alert("Cannot remove last course")
                return
            }

            // Again, the html is our data storage so this is sufficient
            classes_elem.removeChild(selected)

            // select the item that was above that one in the list (below if top) and update the UI accordingly
            if(selected_index > 0) selected_index -= 1
            classes_elem.children.item(selected_index).selected = true
            update_class_ui()
        }

        function update_course() {
            // This saves the data elsewhere in the UI to our storage (the option element)
            const class_name_elem = document.getElementById('className')
            const class_id_elem = document.getElementById('classCanvasID')
            const classes_elem = document.getElementById('classes')

            const selected_index = get_selected_child_index(classes_elem)
            const selected = classes_elem.children.item(selected_index)

            const recitations_elem = document.getElementById('recitations')
            let recs = []
            for(let child of recitations_elem.children) {
                recs.push(child.innerText)
            }

            selected.innerText = class_name_elem.value
            selected.dataset.canvasID = class_id_elem.value
            selected.dataset.recitations = JSON.stringify(recs)
        }

        function update_rec() {
            const rec_time_elem = document.getElementById('recitationTime')
            const recs_elem = document.getElementById('recitations')
            const selected_index = get_selected_child_index(recs_elem)
            const selected = recs_elem.children.item(selected_index)

            selected.innerText = rec_time_elem.value
        }

        /* BEGIN TEMPLATE MANAGEMENT CODE */

        function save_channel() {
            const channels_elem = document.getElementById('classTemplate')
            const selected_index = get_selected_child_index(channels_elem)
            const selected = channels_elem.children.item(selected_index)
            const template_form = document.getElementById('templateConfig')
            const template_data = new FormData(template_form)

            selected.innerText = template_data.get('channelName')
            selected.dataset.channelType = template_data.get('channelType')
            selected.dataset.studentOnly = JSON.stringify(!!template_data.get('studentOnly'))
            selected.dataset.taOnly = JSON.stringify(!!template_data.get('taOnly'))
        }

        function load_channel() {
            const channels_elem = document.getElementById('classTemplate')
            const selected_index = get_selected_child_index(channels_elem)
            const selected = channels_elem.children.item(selected_index)

            document.getElementById('channelName').value = selected.innerText
            const radios = document.getElementsByName('channelType')
            for(let elem of radios) {
                if(elem.value === selected.dataset.channelType) {
                    elem.checked = true
                    break
                }
            }
            document.getElementById('studentOnly').checked = JSON.parse(selected.dataset.studentOnly)
            document.getElementById('taOnly').checked = JSON.parse(selected.dataset.taOnly)
        }

        function add_new_channel(new_channel) {
            if(!new_channel || is_event(new_channel)) {
                new_channel = {
                    channelName: "New Channel",
                    channelType: "T",
                    studentOnly: true,
                    taOnly: false
                }
            }
            const channels_elem = document.getElementById('classTemplate')
            const new_channel_elem = document.createElement('option')
            new_channel_elem.innerText = new_channel.channelName
            new_channel_elem.dataset.channelType = new_channel.channelType
            new_channel_elem.dataset.studentOnly = new_channel.studentOnly
            new_channel_elem.dataset.taOnly = new_channel.taOnly

            channels_elem.appendChild(new_channel_elem)
        }

        function remove_channel() {
            const channels_elem = document.getElementById('classTemplate')
            let selected_index = get_selected_child_index(channels_elem)
            const selected = channels_elem.children.item(selected_index)

            if(channels_elem.children.length < 2) {
                alert("Can't remove last channel in template")
                return
            }
            channels_elem.removeChild(selected)
            selected_index -= 1
            channels_elem.children.item(selected_index).selected = true
            load_channel()
        }

        /* END TEMPLATE MANAGEMENT CODE */

        function send_config() {
            const courses_elem = document.getElementById('classes')

            let config_classes = []
            for(let child of courses_elem.children) {
                let this_class = {
                    name: child.innerText,
                    canvasID: child.dataset.canvasID,
                    recitations: JSON.parse(child.dataset.recitations)
                }
                config_classes.push(this_class)
            }

            const config = {
                template: [],
                classes: config_classes
            }

            console.log(config)

            let headers = new Headers()
            headers.append('Content-type', 'application/json')

            let fetch_options = {
                headers: headers,
                method: "POST",
                body: JSON.stringify(config)
            }

            fetch("/config", fetch_options)
                .then((response) => {
                    return response.json()
                })
                .then((response) => {
                    // TODO: do something with this
                    console.log(response)
                })
                .catch((err) => {
                    console.log(err)
                })
        }

        function get_current_json() {
            fetch("/get_server_json")
                .then((response) => {
                    return response.json()
                })
                .then((response) => {
                    console.log(response)
                    fill_out_server_panel(response)
                })
        }

        function fill_out_server_panel(config) {
            let server_elem = document.getElementById('server')
            for(let entry of config) {
                if(entry.channels) {
                    const grp_elem = document.createElement('optgroup')
                    grp_elem.label = entry.name
                    for(let chan of entry.channels) {
                        const chan_elem = document.createElement('option')
                        chan_elem.innerText = chan.name
                        grp_elem.appendChild(chan_elem)
                    }
                    server_elem.appendChild(grp_elem)
                } else {
                    const chan_elem = document.createElement('option')
                    chan_elem.innerText = entry.name
                    server_elem.appendChild(chan_elem)
                }
            }
        }

        function onload() {
            for(let chan of template) {
                add_new_channel(chan)
            }

            document.getElementById('classTemplate').addEventListener('change', load_channel)
            document.getElementById('templateConfig').addEventListener('change', save_channel)
            document.getElementById('rmChanBtn').addEventListener('click', remove_channel)
            document.getElementById('addChanBtn').addEventListener('click', add_new_channel)

            for(let sem_class of classes) {
                add_new_course(sem_class)
            }

            const classes_elem = document.getElementById("classes")
            classes_elem.firstElementChild.selected = true
            update_class_ui()

            classes_elem.addEventListener("change", update_class_ui)

            document.getElementById('addClassBtn').addEventListener("click", add_new_course)
            document.getElementById('removeClassBtn').addEventListener("click", remove_course)

            document.getElementById('className').addEventListener('input', update_course)
            document.getElementById('classCanvasID').addEventListener('change', update_course)

            document.getElementById('recitations').addEventListener("change", update_recitation_ui)

            document.getElementById('rmRecBtn').addEventListener('click', remove_recitation)
            document.getElementById('addRecBtn').addEventListener('click', add_new_recitation)

            const rec_time_elem = document.getElementById('recitationTime')
            rec_time_elem.addEventListener('input', update_rec)
            rec_time_elem.addEventListener('change', update_course)

            document.getElementById('semCommitBtn').addEventListener('click', send_config)

            get_current_json()
        }

        addEventListener("DOMContentLoaded", onload)
    </script>
</head>
<body>
<div class="container">
    <div class="left">
        <label for="server">Current Server Outline</label><br />
        <select id="server" name="serverOutline" size="20">
        </select>
    </div>
    <div class="outer">
        <div class="middle container">
            <div class="inner">
                <label for="classTemplate">Templates per class<br />
                    <small>(Categories will be inserted at the bottom of the current hierarchy)</small></label><br />
                <select id="classTemplate" size="10">
                </select> <br />
                <button type="button" id="addChanBtn">Add Channel</button>
            </div>
            <div class="inner">
                <form id="templateConfig">
                    <label for="channelName">Channel Name</label><br />
                    <input type="text" id="channelName" name="channelName"><br />
                    <fieldset>
                        <legend>Channel Type</legend>
                        <input type="radio" id="announcement" name="channelType" value="A">
                        <label for="announcement">Announcements</label><br />
                        <input type="radio" id="textChannel" name="channelType" value="T" checked>
                        <label for="textChannel">Text</label><br />
                        <input type="radio" id="voiceChannel" name="channelType" value="V">
                        <label for="voiceChannel">Voice</label><br />
                        <input type="radio" id="forum" name="channelType" value="F">
                        <label for="forum">Forum</label><br />
                    </fieldset><br />
                    <input type="checkbox" id="taOnly" name="taOnly">
                    <label for="taOnly">TA Only Channel (Announcement channels will be made TA-Writable)</label><br />
                    <input type="checkbox" id="studentOnly" name="studentOnly">
                    <label for="studentOnly">Make this channel accessible only to students currently in the class</label><br />
                </form>
                <button type="button" id="rmChanBtn">Remove channel</button>
            </div>
        </div>
        <br/>
        <div class="middle container sink">
            <div class="inner">
                <label for="classes">Semester Classes</label><br />
                <select id="classes" name="classes" size="5">
                </select><br />
                <button type="button" id="addClassBtn">Add Course</button>
            </div>
            <div class="inner">
                <label for="className">Class Name</label><br />
                <input type="text" id="className"><br />
                <label for="classCanvasID">Canvas ID</label><br />
                <input type="text" id="classCanvasID"><br />
                <button type="button" id="removeClassBtn">Remove Course</button>
            </div>
            <div class="inner">
                <label for="recitations">Class Recitation Sections</label><br />
                <select id="recitations" name="recitations" size="5">
                </select><br />
                <button type="button" id="addRecBtn">Add Recitation Section</button>
                <button type="button" id="rmRecBtn">Remove Recitation</button><br />
                <label for="recitationTime">Recitation Time</label>
                <input type="text" id="recitationTime"><br />
            </div>
            <div class="inner">
                <button type="button" id="previewBtn">Preview Changes in Left Panel</button><br /><br />
                <button type="button" id="semCommitBtn">Commit Semester Options</button>
            </div>
            <div class="inner">
                <button class="warning" type="button">Semester Cleanup</button><br />
                <p>Warning! This will ERASE all <span class="managed">managed</span> categories, and migrate current students and TAs to former-student roles. Logs for each channel will be downloaded.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>