<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css') }}">
    <script src="{{ url_for('static', filename='ui.js') }}"></script>
</head>
<body>
<dialog id="waitDialog">
    <p id="waitDialogText" class="center"></p>
</dialog>
<dialog id="finishedDialog">
    <p id="finishedDialogText"></p>
    <button type="button" id="finishedDialogBtn">Close</button>
</dialog>
<div class="container">
    <div class="left" id="serverPanel">
        <label for="server">Current Server Outline</label><br />
        <select id="server" name="serverOutline" size="30">
        </select>
    </div>
    <div class="outer">
        <div class="middle container">
            <div class="container parent">
                <div class="descriptor">
                    <label for="classTemplate">Templates per class<br />
                        <small>(Categories will be inserted at the<br />bottom of the current hierarchy)</small></label><br />
                    <select id="classTemplate" size="10">
                    </select> <br />
                    <button type="button" class="buttonAdd" id="addChanBtn">Add Channel</button>
                </div>
                <div class="channelConfig">
                    <form id="templateConfig">
                        <label for="channelName">Channel Name</label><br />
                        <input type="text" id="channelName" name="channelName"><br />
                        <fieldset>
                            <legend>Channel Type</legend>
                            <input type="radio" id="announcement" name="channelType" value="A">
                            <label for="announcement">Announcements</label><br />
                            <input type="radio" id="textChannel" name="channelType" value="T" checked>
                            <label for="textChannel">Text</label><br />
                            <input type="radio" id="voiceChannel" name="channelType" value="V">
                            <label for="voiceChannel">Voice</label><br />
                            <input type="radio" id="forum" name="channelType" value="F">
                            <label for="forum">Forum</label><br />
                        </fieldset><br />
                        <input type="checkbox" id="taOnly" name="taOnly">
                        <label for="taOnly">TA Only Channel (Announcement channels will be made TA-Writable)</label><br />
                        <input type="checkbox" id="studentOnly" name="studentOnly">
                        <label for="studentOnly">Make this channel accessible only to students currently in the class</label><br />
                    </form>
                    <button type="button" class="buttonRemove" id="rmChanBtn">Remove channel</button>
                </div>
            </div>
        </div>
        <br/>
        <div class="middle container sink">
            <div class="container parent">
                <div class="descriptor">
                    <label for="classes">Semester Classes</label><br />
                    <select id="classes" name="classes" size="5">
                    </select><br />
                    <button type="button" class="buttonAdd" id="addClassBtn">Add Course</button>
                </div>
                <form id="classConfig" class="container">
                    <div class="inner">
                        <label for="className">Class Name</label><br />
                        <input type="text" id="className"><br />
                        <label for="classCanvasID">Canvas ID</label><br />
                        <input type="text" id="classCanvasID"><br />
                        <button type="button" class="buttonRemove" id="removeClassBtn">Remove Course</button>
                    </div>
                    <div class="inner second">
                        <label for="recitations">Class Recitation Sections</label><br />
                        <select id="recitations" name="recitations" size="5">
                        </select><br />
                        <label for="recitationTime">Recitation Time</label>
                        <input type="text" id="recitationTime"><br />
                        <button type="button" class="buttonAdd" id="addRecBtn">Add Recitation Section</button>
                        <button type="button" class="buttonRemove" id="rmRecBtn">Remove Recitation</button><br />
                    </div>
                </form>
            </div>
            <div class="general">
                <button type="button" class="buttonAdd" id="previewBtn">Preview Changes in Left Panel</button><br /><br />
                <button type="button" class="buttonCommit" id="semCommitBtn"><span>Commit Semester Options</span></button>
            </div>
            <div class="general">
                <button class="buttonCleanup" type="button" id="semCleanupBtn"> <span>Semester Cleanup</span></button><br />
                <p>Warning! This will ERASE all <span class="managed">managed</span> categories, and migrate current students and TAs to former-student roles. Logs for each channel will be downloaded.</p>
            </div>
        </div>
    </div>
    <div class = "middle">
        <button position = absolute top = 0px left = 0px type="button" class="buttonAdd" id="modeBtn">Change to light/darkmode</button><br /><br />
    </div>
</div>
</body>
</html>